.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body {
    height: 100vh;
    background: linear-gradient( hsl(273, 75%, 66%),
     hsl(240, 73%, 65%)) no-repeat;
}

.box {
    background-color: white;
    display: flex;
    margin: auto;
    width: 60%;
    height: 60%;
    margin-top: 100px;
    border-radius: 20px;
    box-shadow: 2px 4px 20px rgba(black, 0.5);
    justify-content: space-between;
    overflow: hidden;
    min-height:370px;
    min-width: 800px;

}

.right {
 display: flex;
flex-direction: column;
width: 50%;

}
.left {
  margin-top: 3%;
  width: 50%;
}

.big {
   position: absolute;

   left:200px;
}

ul {
  list-style-type: none;
}

li {
  padding: 20px;
  
}
.gone {
display: none;
}

.bold{
  font-weight: bold;
}
p {
  width:fit-content;
  background-color: rgba(228, 226, 226, 0.4);
  padding:5px;
}
span:hover {
cursor: pointer;
color: orangered;
}

.arrow-start {
  background-image: url("/faq-accordion-card-main/images/icon-arrow-down.svg");
  background-repeat: no-repeat;
  content: "";
  height: 10px;
  width: 8%;
 float: right;
 transition:  .3s linear;
 background-position: 100% 100%;
}

.arrow-up {
  transform: rotate(180deg);
  transition:  .3s linear;
  background-position: 0 0;
}

@media (max-width: 1300px)  {

  body {
    width: 100%;
    height: 100%;
  
  
  }
.box{ 
  margin: 0 5%;
  
  width: 80%;
  height: auto;
  min-height:0px;
    min-width: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}  
.right {
  display: flex;
 flex-direction: column;
width: 90%;
align-items: center;
justify-content: center;


 
 }
 .left {
  width: 100%;
  height: 35%;
  margin:0;
  display: flex;
  justify-content: center;
  align-content: center;
  
 }

  .big{
display: none;
 }

 .little {
   display: block;
 
 }

 span {
   display: flex;
   flex-direction: row;
   width: 252px;
   justify-content: space-between;
  
 }

 p { 
width: 260px;
 }
}